
<% @posts.each do |post| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <% if user_signed_in? %>
            <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.username) %>
          <% else %>
            <img src="https://bulma.io/images/placeholders/64x64.png">
          <% end %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p class="title is-4"><%= link_to post.title, post %></p>
          <p class="subtitle">
            <% if user_signed_in? %>
              <strong><%= current_user.username %></strong>
            <% else %>
              <strong>Anonymous User</strong>
            <% end %>
          </p>
          
        </div>
        
      </div>
    </article>
  </div>
<% end %>