<section class="section">
  <div class="columns">
    <div class="column">
      <%= render 'form', post: @post %>
    </div>
    <div class="column is-narrow">
      <%= render 'profile' %>
    </div>
  </div>
</section>