@import "bulma";

:root {
  --night: #0e0b16;
}

html {
  background-color: var(--night);
  margin: 0 10px;
}

p {
  color: var(--night);
}

a {
  color: var(--night);
}

h2 {
  color: white !important;
}

.label {
  color: white;
}

#no-user {
  padding: 10px;
}

#no-user .button {
  margin: 5px;
}

section {
  padding: 0 !important;
  max-width: 1200px; 
	margin: 0 auto !important; 
	float: none !important; 
}

.notification {
  padding: 0 !important;
  text-align: center;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.navbar {
  min-height: 40px;
  background-color: var(--night);
}

.navbar-brand {
  min-height: 40px;
}

.navbar-brand .title {
  color: white;
}

.box {
  padding: 10px;
  margin: 0 0 12px !important;
  background-color: #eceff1;
}

.content {
  margin: 0 !important;
}

.media-content {
  margin: auto !important;
}

#menu {
  min-height: 30px;
}

.navbar-brand .navbar-item {
  padding: 0;
  color: white;
}

.navbar-brand .button {
  padding: 0;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
}

.image {
  border-radius: 25%;
  img {
    border-radius: 25%;
  }
}

.subtitle {
  font-size: 10px;
}
